#textBlock {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  margin-bottom: 16px;
  padding-bottom: 16px;
  background-color: white;
}

#map {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
